*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
.env
google-services.json
app/google-services.json
app/src/test/screenshots/
debug.keystore
debug.keystore.base64
.build-outputs/
*.apk
*.aab
*.sh
.history/
captures/
*.log

